<h2 class="text-align-center">Login</h2>
<div class="app-plate">
  <form #loginForm="ngForm" (ngSubmit)="onSubmit()">
    <div class="login-form">
      <div>
        <div class="form__control">
          <label for="email">Email</label>
          <input 
            type="text" 
            id="email" 
            name="email"
            placeholder="Input text"
            ngModel
            required
            emailValidator
            #emailControl="ngModel"
          />
          <span 
            id="emailErrorMessage" 
            class="text-danger"
            *ngIf="emailControl.invalid && (emailControl.touched || loginForm.submitted)"
          >
            <span *ngIf="emailControl.errors?.['required']">Email is required.</span>
            <span *ngIf="emailControl.errors?.['emailValidator']">Email is invalid.</span>
          </span>
        </div>
        <div class="form__control">
          <label for="password">Password</label>
          <input 
            type="password" 
            id="password" 
            name="password"
            placeholder="Input text"
            ngModel
            required
            #passwordControl="ngModel"
          />
          <span 
            id="passwordErrorMessage" 
            class="text-danger"
            *ngIf="passwordControl.invalid && (passwordControl.touched || loginForm.submitted)"
          >
            Password is required.
          </span>
        </div>
      </div>
      <div>
        <div class="form__action">
          <app-button type="submit">Login</app-button>
        </div>
        <div class="form__text">
          If you don't have an account you may <strong>Registration</strong>
        </div>
      </div>
    </div>
  </form>
</div>